# IDEs
.settings/
.project
.classpath
.factorypath

# Build
/bin/
/dist/
/build/

# Logs
*.log
/server_data/game/log/
/server_data/login/log/

# Java
*.class
*.jar
*.war
*.ear

# OS
Thumbs.db
.DS_Store

# L2 Specific
/server_data/game/config/hexid.txt
